body{
  background-color: #272727;
  color: antiquewhite;
  font-family: Cascadia Mono;
}
.center_greencorlored {
  background-color: rgb(0, 0, 0);
  margin: auto;
  width: 100%;
  padding: 10px;
}
.center_text{
  text-align: center;  
}
.parent{
  margin: 1rem;
  padding: 2rem 2rem;
}
.child{
  display:inline-block;
  border: 1px solid blue;
  padding: 1rem,1rem;
  vertical-align: middle;
}

.fancybut{
      font-family: Cascadia Mono;
      font-size: 18px;       /* Tăng kích thước chữ */
      padding: 10px 20px;    /* Tăng kích thước nút */
      background-color: #6a6a6a;  /* Một tông màu – xanh dương */
      color: white;          /* Chữ màu trắng */
      border: none;          /* Bỏ viền */
      border-radius: 5px;    /* Bo tròn nhẹ */
      box-shadow: none;      /* Không đổ bóng */
      cursor: pointer;
}

@media (max-width: 1250px) {
  div[style*="display: flex;"] {
      flex-direction: column; /* Sắp xếp các phần tử theo cột */
  }

  div[style*="flex:1"], 
  div[style*="flex:1.5"] {
      width: 100%; /* Đặt chiều rộng 100% cho cả hai phần */
  }
  
}